body,html {
    height:100%;
    width:100%;
    background-color:rgb(246, 242, 241 ) 

}

.profileImage{
    height:250px;
    width:250px;
    border-radius:50%;
    border:2px solid #2196F3;
}

.container
{
    background-color:white;
    height:100%;
}
.centerDiv
{
    display:block;
    margin:auto;
}
.navButton
{
    max-width:200px;
}
.brand-logo
{
    height:100px;
}
form
{
    padding:20px;
}
