<div class="row">
    <h5 class="center">Address Details</h5>
    <div class="col s12">
        <form ng-submit="submitForm()">
            <div class="row col s12">
                <h5 class="center">Current Residing Address (In Detail)</h5>    
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.current.addressLine1" required>
                        <label ng-class="{'active':candidate.address.current.addressLine1}">Address Line 1</label>
                    </div> 
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.current.addressLine2" required>
                        <label ng-class="{'active':candidate.address.current.addressLine2}">Address Line 2</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.current.addressLine3" >
                        <label ng-class="{'active':candidate.address.current.addressLine3}">Address Line 3</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.current.addressLine4" >
                        <label ng-class="{'active':candidate.address.current.addressLine4}">Address Line 4</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.current.cityName" required>
                        <label ng-class="{'active':candidate.address.current.cityName}">City</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.current.stateName" required>
                        <label ng-class="{'active':candidate.address.current.stateName}">State</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="number" class="validate" ng-model="candidate.address.current.pinCode" required>
                        <label ng-class="{'active':candidate.address.current.pinCode}">Pin Code</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.current.landmark" required>
                        <label ng-class="{'active':candidate.address.current.landmark}">Landmark</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.current.durationOfStay" required>
                        <label ng-class="{'active':candidate.address.current.durationOfStay}">Duration of Stay</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.current.telephone" required>
                        <label ng-class="{'active':candidate.address.current.telephone}">Telephone</label>
                    </div>
                </div>

                <h5 class="center">Permanent/Native Address (In Detail)</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.addressLine1" required>
                        <label ng-class="{'active':candidate.address.permanent.addressLine1}">Address Line 1</label>
                    </div> 
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.addressLine2" required>
                        <label ng-class="{'active':candidate.address.permanent.addressLine2}">Address Line 2</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.addressLine3" >
                        <label ng-class="{'active':candidate.address.permanent.addressLine3}">Address Line 3</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.addressLine4" >
                        <label ng-class="{'active':candidate.address.permanent.addressLine4}">Address Line 4</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.cityName" required>
                        <label ng-class="{'active':candidate.address.permanent.cityName}">City</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.stateName" required>
                        <label ng-class="{'active':candidate.address.permanent.stateName}">State</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="number" class="validate" ng-model="candidate.address.permanent.pinCode" required>
                        <label ng-class="{'active':candidate.address.permanent.pinCode}">Pin Code</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.landmark" required>
                        <label ng-class="{'active':candidate.address.permanent.landmark}">Landmark</label>
                    </div>
                    <div>

                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.durationOfStay" required>
                        <label ng-class="{'active':candidate.address.permanent.durationOfStay}">Duration of Stay</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="text" class="validate" ng-model="candidate.address.permanent.telephone" required>
                        <label ng-class="{'active':candidate.address.permanent.telephone}">Telephone</label>
                    </div>
                </div>
            </div>
            <div class="col s12 row">
                <div class="col s12">
                    <button type="submit"  class="btn blue right">Save Details</button>
                </div>
            </div>
        </form>
    </div>

</div>
