<div class="row">
        <h5 class="center">Emergency Details</h5>
        <div class="col s12">
            <form class="row" ng-submit="submitForm()">
                <div class="col s12 row">
                    <div class="col s12 m4 l4">
                        <div class="input-field ">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.bloodGroup">
                            <label  ng-class="{'active':candidate.emergencyDetails.bloodGroup}">Blood Group</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field ">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.allergicTo">
                            <label  ng-class="{'active':candidate.emergencyDetails.allergicTo}">Allergic To</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.bloodPressure" required>
                            <label  ng-class="{'active':candidate.emergencyDetails.bloodPressure}">Blood Pressure</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.sugar" required>
                            <label  ng-class="{'active':candidate.emergencyDetails.sugar}">Sugar</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.eyeSight" required>
                            <label  ng-class="{'active':candidate.emergencyDetails.eyeSight}">Eye sight</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.anyMajorIllness" required>
                            <label  ng-class="{'active':candidate.emergencyDetails.anyMajorIllness}">Any major illness</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                            <div class="input-field">
                                <input  type="text" class="validate" ng-model="candidate.emergencyDetails.emergencyContactPerson" required>
                                <label  ng-class="{'active':candidate.emergencyDetails.emergencyContactPerson}">Contact person in emergency</label>
                            </div>
                    </div>
                    
                    <div class="col s12 m6">
                        <div class="input-field">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.emergencyContactNumber" required>
                            <label  ng-class="{'active':candidate.emergencyDetails.emergencyContactNumber}">Contact No.</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field">
                            <input  type="text" class="validate" ng-model="candidate.emergencyDetails.emergencyContactAddress" required>
                            <label  ng-class="{'active':candidate.emergencyDetails.emergencyContactAddress}">Address of Emergency Contact</label>
                        </div>
                    </div>
                </div>
      
      
                <div class="col s12 row">
                    <div class="col s12">
                            <a ui-sref="home"  class=" btn blue left">Back</a>
                        <button type="submit" class="btn blue right">Save Details</button>
                    </div>
                </div>
      
            </form>
        </div>
</div>