<div class="row">
        <h5 class="center">Emergency Details</h5>
        <div class="col s12">
            <form class="row" ng-submit="submitForm()">
                <div class="col s12 row">
                    <div class="col s12 m4 l4">
                        <div class="input-field ">
                            <input id="middleName" type="text" class="validate" ng-model="candidate.personalDetails.middleName">
                            <label for="middleName" ng-class="{'active':candidate.personalDetails.middleName}">Blood Group</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field ">
                            <input id="middleName" type="text" class="validate" ng-model="candidate.personalDetails.middleName">
                            <label for="middleName" ng-class="{'active':candidate.personalDetails.middleName}">Allergic To</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                            <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Blood Pressure</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                            <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Sugar</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                            <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Eye sight</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                            <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Any major illness</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                            <div class="input-field">
                                <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                                <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Contact person in case</label>
                            </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                            <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Any major illness</label>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                            <div class="input-field">
                                <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                                <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Contact person in case</label>
                            </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            <input id="lastName" type="text" class="validate" ng-model="candidate.personalDetails.lastName" required>
                            <label for="lastName" ng-class="{'active':candidate.personalDetails.lastName}">Address & Phone Number</label>
                        </div>
                    </div>
                </div>
      
      
                <div class="col s12 row">
                    <div class="col s12">
                        <button type="submit" class="btn blue right">Save Details</button>
                    </div>
                </div>
      
            </form>
        </div>
</div>