<div class="row">
    <div class="col s12">
        <div class="row">
            <img src="../../assets/images/profile.png" class="profileImage centerDiv" />
        </div>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Employee Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Employee ID</label>
                </div>
            </div>
            <div class="row col s12">
                <a ui-sref="address" class="btn navButton centerDiv blue">Next</a>
            </div>
        </form>
    </div>

</div>
