<div class="collection">
    <!-- <a ui-sref="{{anchor}}" class="collection-item flow-text center card" ng-repeat="anchor in navigations" ng-class="{'light-green accent-4 white-text':candidate[anchor+'Details']}">
        {{anchor | uppercase}} DETAILS
          <div class="row">
      
    </a> -->

    <div class="row">
    <div class="col s12 m4 l4" ng-repeat="anchor in navigations" ui-sref="{{anchor}}">
            <div class="card" style = "background-color:#ff6e00 !important;">
              <div class="card-content white-text">
                <span class="card-title">{{anchor | uppercase}} DETAILS</span>
                <p></p>
              </div>
            </div>
          </div>
    </div>
</div>

    <form class="row" ng-submit="submitForm()">
            <h5 class="center">Letter of Authorization</h5>
            <div class="col s12 row">
                    <p>I agree to provide copies of mark sheets and relevant certificates. I understand that employment
                    with Prowareness, is governed by Prowareness, Employment Policies as applicable, including
                    satisfactory information from a background check.</p>

                    <p>I hereby certify all of the statements made on the Prowareness, Employee Application Form are
                    true and complete and I understand that omission or misrepresentation of any fact may result in
                    refusal of employment or immediate dismissal.</p>

                    <p>As a condition of Company's consideration of my application for employment with the Company,
                    I hereby give my consent to Prowareness to investigate or cause to be investigated through
                    any third parties my personal, educational, pre or post-employment history, criminal and all
                    other checks relevant to the company. I understand that the background investigation will
                    include, but not be limited to, verification of all information given by me to the Company. I
                    confirm that the Company is entitled to share such investigation report with its clients to the
                    extent necessary in connection with the Services, which I may be required to provide to such
                    clients. I confirm and undertake that the Company shall incur no liability or obligation of any
                    nature whatsoever resulting from such investigation or sharing of the investigation results as
                    above.</p>

                    <br>

                    <div class="input-field">
                        <input id="empId" type="text" class="validate" ng-model="candidate.empId">
                        <label for="empId">Full Name</label>
                    </div>

                    <div class="input-field">
                        <input id="empId" type="text" class="validate" ng-model="candidate.empId">
                        <label for="empId">Signature</label>
                    </div>

                    <div class="input-field">
                        <input id="empId" type="text" class="validate" ng-model="candidate.empId">
                        <label for="empId">Date</label>
                    </div>
            </div>
    </form>
</div>
<div class="">
    <button class="btn navButton centerContent blue" ng-click="saveUserDetails()">Final Submit</button>
</div>
