<div class="row ">
    <label class="btn blue" ng-click="exportAsPdf()">Download PDF</label>
</div>
<ng-include src=" 'app/views/personal.html'" ></ng-include>
<!-- ADD_PAGE -->
<ng-include src=" 'app/views/address.html'" ></ng-include>
<!-- ADD_PAGE -->
<!--<ng-include src=" 'app/views/education.html'" ></ng-include>-->
<ng-include src=" 'app/views/employment.html'" ></ng-include>
<!-- ADD_PAGE -->
<ng-include src=" 'app/views/reference.html'" ></ng-include>
<!-- ADD_PAGE -->
<!--<ng-include src=" 'app/views/additional.html'" ></ng-include>-->